body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table.bp4-html-table {
  overflow:hidden;
  height:100px;
}

tbody {
  overflow-y:scroll;
  height:200px;
  width:100%;
  position:absolute;
  right:-30px;
}

tbody::-webkit-scrollbar {
  display: none;
}

table.bp4-html-table td {
    color: #FFF !important;
    cursor: pointer;

    &.selected {
      border: solid 1px;
    }
}

.bp4-file-upload-input {
  background: none;
}